h1 {
  color: red;
  text-align: center;
}
h3 {
  text-align: center;
  font-family: 'Bowlby One SC', cursive
}

.about {
  font-family: 'Fondamento', cursive;
}
.rules{
  cursor: pointer;
}
.htp{
  cursor: pointer;

}
.objectives{
  cursor: pointer;
}
.ruleshidden{
  text-align: center;
  background-color: pink;

}
.rulesshowing{
  display: none;
}
.htphidden {
  text-align: center;
  background-color: yellow;
}
.htpshowing {
  display: none;
}
.objhidden {
  text-align: center;
  background-color: green;
}
.objshowing {
  display: none;
}
.top {
  text-align: center;
}
.objhidden:hover {
  text-decoration: underline;
}
.ruleshidden:hover {
  text-decoration: underline;
}
.htphidden:hover {
  text-decoration: underline;
}
